<mat-card>
  <mat-spinner *ngIf="isLoading" ></mat-spinner>
  <form (submit)="onSavePost(postForm)" #postForm="ngForm" *ngIf="!isLoading" >
    <mat-form-field>
      <input
      matInput
       type="text"
      name="title"
      [ngModel]="post?.title"
      required
      #title="ngModel"
      placeholder="Post Title"
      >
      <mat-error *ngIf="title.invalid">Pleas enter a post title</mat-error>
    </mat-form-field>

    <mat-form-field>
      <textarea
      matInput
      rows="6"
      name="content"
      [ngModel]="post?.content"
      required
      placeholder="Post Content"
      #content="ngModel"
      ></textarea>
      <mat-error *ngIf="content.invalid">Pleas enter a post title</mat-error>
    </mat-form-field>
    <button mat-raised-button
    color="primary"
     type="submit" >Save post</button>
  </form>

</mat-card>







